<html>

  <head>

    <title>All Spaces | TaarkBnB</title>

  </head>

  <body>


    <h1>Book a Space</h1>

    <form class='center-button'action='/spaces/new' method='get'>
      <input class='button' type='submit' value="List a Space">
    </form>

      <br>
      <br>

    <ul>
      <% @spaces.each do | space | %>
        <div class='space-wrapper'>
          <a id='space-link' href='/spaces/<%= space.id %>'><%= space.name %></a>
          <br>
          <br>
            <img class='space-photo' src='/image_uploads/small_<%= space.photo %>'>
          <br>
          <%= space.description %>
          <br>
          Price per night: <%= format_price(space.price) %>
        </div>
      <% end %>
    </ul>

  </body>

</html>
