<html>

  <head>

    <title>All Spaces | TaarkBnB</title>
  
  </head>

  <body>

      <h1>Book a Space</h1>

      <form class='center-button'action='/spaces/new' method='get'>

        <input class='button' type='submit' value="List a Space">

      </form>

      <div class='space-wrapper'>

      <ul class='space-list'>

        <% @spaces.each do | space | %>

        

          <a href='/spaces/<%= space.id %>'><%= space.name %></a>

          
          Description: <%= space.description %>
          

          Price: <%= format_price(space.price) %>



          Available From: <%= space.date_from %>



          Available To: <%= space.date_to %>


       

        <br />
        
        <% end %>



      </ul>

       </div>

  </body>

</html>
