<html>

<head>

	<title> All Spaces | TAARKBnB </title>

</head>

<body>

    <h1><%= @space.name %></h1>
		<br>


    <div class='space-view'>

			<img class='listing-image' src='/image_uploads/<%= @space.photo %>'>

      <span class='bold-text'>Price per night:</span>
      <br>
      <span class='small-text'><%= format_price(@space.price) %></span>
      <br>
      <span class='bold-text'>Description:</span>
      <br>
      <span class='small-text'><%= @space.description %></span>
      <br>
      <span class='bold-text'>Book:</span>
      <br>
      <span class='small-text'>Available from <%= @space.date_from %> to <%= @space.date_to %></span>


    <form action="/requests" method="post">

    	<label for="date_from">
    		<span class='small-text'>Start Date:</span>
      </label>
    	<input class='text-input3' id='date_from' type="date" name="start_date" min="<%= @space.date_from %>" max="<%= @space.date_to %>" required/>
    	<label for="date_to">
    		<span class='small-text'>End Date:</span>
      </label>
    	<input class='text-input3' id='date_to' type="date" name="end_date" min="<%= @space.date_from %>" max="<%= @space.date_to %>" required/>
      <input type="hidden" name="space_id" value="<%= @space.id %>"/>
      <br>
      <br>
      <input class='button2' type="submit" value="Request to Book" />

    </form>

  </div>

  </body>


</html>
