<head>

<title>Requests | TAARKBnB</title>

</head>

<body>

	Your booking request has been sent.

	<br>

	<h1>Requests I've Made</h1>

	<br>


  <ul>
    <% @requests_made.each do | request | %>
    <div class='request-wrapper'>
      <h3><%= request.space.name %></h3>
      Not confirmed
    </div>
    <% end %>
  </ul>


  <br>

  Requests I've Received:

  <br>

  <% @requests_received.each do | request | %>
    <%= request.space.name %>
    <br>
		<%= request.space.date_from %>
    <br>
		<%= request.space.date_to %>
    <br>
		Status:<%= request.approval %>
    <br>
    <form action='/confirmation/<%= request.id %>' method='get'>
      <input type='submit' value='See this request'>
    </form>

  <% end %>


</body>
