<head>

<title>Requests | TAARKBnB</title>

</head>

<body>

	<br>

  <div id='requests_made_received'>

    <div id='requests_made' class='requests'>
    	<h1>Requests I've Made:</h1>
    	<br>

      <ul>
        <% @requests_made.each do | request | %>
        <div class='request-wrapper'>
          <%= request.space.name %>
          <br>
          From <%= request.start_date %> to <%= request.end_date %>
          <br>
          Status: <%= get_request_status(request.confirmed) %>
        </div>
        <% end %>
      </ul>

    </div>


    <div id='requests_received' class='requests'>
      <h1>Requests I've Received:</h1>
      <br>
      <% @requests_received.each do | request | %>
      	<div class='request-wrapper'>
          <%= request.space.name %>
          <br>
    		  From <%= request.start_date %> to <%= request.end_date %>
          <br>
    		  Status: <%= get_request_status(request.confirmed) %>
          <br>
          <form action='/requests/<%= request.id %>' method='get'>
             <input type='submit' value='See this Request'>
          </form>
    	  </div>
      <% end %>
    </div>
  </div>

</body>
