<head>

<title>Requests | TAARKBnB</title>

</head>

<body>

	Your booking request has been sent.

	<br>

  <div id='requests_made_received'>

    <div id='requests_made'>
    	<h1>Requests I've Made</h1>
    	<br>
      <ul>
        <% @requests_made.each do | request | %>
        <div class='request-wrapper'>
          <h3><%= request.space.name %></h3>
          Not confirmed
        </div>
        <% end %>
      </ul>
    </div>

    <div id='requests_made'>
      <h1>Requests I've Received:</h1>

      <br>
      <% @requests_received.each do | request | %>
    	<div class='request-wrapper'>
        <%= request.space.name %>
        <br>
    		<%= request.space.date_from %>
        <br>
    		<%= request.space.date_to %>
        <br>
    		Status:<%= request.approval %>
        <br>
        <form action='/confirmation/<%= request.id %>' method='get'>
          <input type='submit' value='See this request'>
        </form>
  	  </div>
      <% end %>
    </div>
  </div>

</body>
