<html>

<header>

	<title>Requests | TAARKBnB</title>

</header>

<body>
  <div id='confirmation'>
  	<h1>Request for '<%= @active_request.space.name %>'</h1>
  	<br>
		<br>
			<img class='space-photo' src='/image_uploads/small_<%= @active_request.space.photo %>'>
		<div class='request-details'>
		<br>
  	Request From: <%= @active_request.user.email %>
  	<br>
  	Dates Requested: <%= @active_request.start_date %> to <%= @active_request.end_date %>
	</div>
		<br>
		<br>

  	<% if unconfirmed?(@active_request) %>

  		<form action='/requests/confirm/<%= @active_request.id %>' method='post'>
  			<input class='button' type='submit' value='Confirm Request from <%= @active_request.user.email %>'/>
  		</form>
			<br>

  		<form action='/requests/deny/<%= @active_request.id %>' method='post'>
  			<input class='button-deny' type='submit' value='Deny Request from <%= @active_request.user.email %>'/>
  		</form>

	<% end %>

  </div>
</body>


</html>
